<h1>Received messages</h1>
<nav class="navbar navbar-inverse zrow">
    <ul class="nav navbar-nav col-md-8">
        <li><a href="#/messages/received">Recieved messages</a></li>
        <li><a href="#/messages/sent">Sent messages</a></li>
        <li><a href="#/messages/add">Send new message</a></li>
    </ul>
  </nav>
{{#if messages}}
<div id="accordion">
{{#each messages}}
    <h2>From: {{author}} | Title: {{title}} | Received at: {{created}}</h2>
    <div>
        <h3>{{content}}</h3>
        <hr>
        <a href="#/messages/add?recipient={{author}}">Reply</a>
    </div>
{{/each}}
</div>
{{else}}
    <h2>You have not received any messages!</h2>
{{/if}}
