<h1>Products</h2>
<nav class="navbar navbar-inverse zrow">
  <ul class="nav navbar-nav col-md-8">
      <li><a href="#/products">Browse products</a></li>
      <li><a href="#/products/manage">Manage your products</a></li>
      <li><a href="#/products/add">Add new product</a></li>
  </ul>
</nav>
<h2><a href="#/products">Categories</a></h2>
{{#if categories}}
<ul>
{{#each categories}}
<li><a href="#/products?category={{this}}">{{this}}</a></li>
{{/each}}
</ul>
<hr>
{{/if}}
{{#if products}}
<div id="accordion" class="event-box">
{{#each products}}
    <h2>{{title}}</h2>
    <div>
      <p>Category: {{category}}</p>
      <p>Description: {{description}}</p>
      <p>Price: {{price}} BGN</p>
      <p>Seller: <a href="#/profile?userId={{sellerId}}">{{seller}}</a></p>
      <button data-product-id="{{productId}}" class="btn-add-to-cart btn btn-primary">Add to cart</button>
    </div>
{{/each}}
</div>
{{else}}
<h2>There are no products</h2>
{{/if}}