<h1>Manage your products</h2>
<nav class="navbar navbar-inverse zrow">
  <ul class="nav navbar-nav col-md-8">
      <li><a href="#/products">Browse products</a></li>
      <li><a href="#/products/manage">Manage your products</a></li>
      <li><a href="#/products/add">Add new product</a></li>
  </ul>
</nav>
{{#if categories}}
<h2><a href="#/products/manage">Categories</a></h2>
<ul>
{{#each categories}}
<li><a href="#/products/manage?category={{this}}">{{this}}</a></li>
{{/each}}
</ul>
<hr>
{{/if}}
{{#if products}}
<div id="accordion" class="event-box">
{{#each products}}
    <h2>{{title}}</h2>
    <div>
      <p>Category: {{category}}</p>
      <p>Description: {{description}}</p>
      <p>Price: {{price}} BGN</p>
      <p>Seller: <a href="#/profile?userId={{sellerId}}">{{seller}}</a></p>
      <hr>
      <a href="#/products/manage/edit?productid={{productId}}">Edit product info</a>
      <hr>
      <a href="#/products/manage/delete?productid={{productId}}">Delete product</a>
    </div>
{{/each}}
</div>
{{else}}
<h2>There are no products</h2>
{{/if}}