<h1>Products</h2>
  <nav class="navbar navbar-inverse zrow">
    <ul class="nav navbar-nav col-md-8">
        <li><a href="#/products/add">Add new product</a></li>
        <li><a href="#/products/search">Search for product</a></li>
    </ul>
  </nav>    
  <hr>
  {{#each products}}
    <div class="event-box" data-id="{{id}}">
      <h2>Title: {{title}}</h2>
      <h3>Price: {{price}} BGN</h3>
      <h4>Description: {{description}}</h4>
      <p>Category: {{category}}</p>
      <p>Seller: {{seller}}</p>
      <button data-product-id="{{productId}}" class="btn btn-primary">Add to cart</button>
    </div>
    <hr>
  {{/each}}

