{{#if isAuthenticated}}
{{#with user}}
<h1>Your profile</h1>
<hr>
<h4>Id: {{userId}}</h4>
<h4>Joined on: {{created}}</h4>
<h4>Cash: {{cash}}</h4>
{{/with}}
<hr>
<h1>Your products</h1>
{{#if products}}
<div id="accordion" class="event-box">
{{#each products}}
    <h2>{{title}}</h2>
    <div>
      <p>Category: {{category}}</p>
      <p>Description: {{description}}</p>
      <p>Price: {{price}} BGN</p>
      <p>Seller: {{seller}}</p>
      <hr>
      <a href="#/products/manage/delete?productid={{productId}}">Delete product</a>
    </div>
{{/each}}
</div>
{{else}}
<h4>You have no products yet!</h4>
{{/if}}
{{else}}
{{#with user}}
<h1>{{username}}'s profile</h1>
<hr>
<h4>Id: {{userId}}</h4>
<h4>Joined on: {{created}}</h4>
<h4>Cash: {{cash}}</h4>
<a href="#/messages/add?recipient={{username}}">Send message to user</a>
<hr>
<h1>{{username}}'s products</h1>
{{/with}}
{{#if products}}
<div id="accordion" class="event-box">
{{#each products}}
    <h2>{{title}}</h2>
    <div>
      <p>Category: {{category}}</p>
      <p>Description: {{description}}</p>
      <p>Price: {{price}} BGN</p>
      <p>Seller: {{seller}}</p>
    </div>
{{/each}}
</div>
{{else}}
<h4>{{username}} has not posted any products yet!</h4>
{{/if}}
{{/if}}
